@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
  padding-right: 3rem; }

input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus {
  border-color: #222;
  outline: 0; }

textarea:focus {
  border-color: #222;
  outline: 0; }

select {
  background: none; }
  select:focus {
    background: none;
    border-color: #222;
    outline: 0; }

.ta-c {
  text-align: center; }

.ta-r {
  text-align: right; }

.pc-none {
  display: none; }

.pc-block {
  display: block; }

body.smallDevice {
  max-height: 100vh;
  overflow: hidden; }
  body.smallDevice .smallDevice-none {
    display: none; }
  body.smallDevice .smallDevice-block {
    display: block; }
  body.smallDevice .mobile-info {
    padding: 40px 10px;
    color: white; }
    body.smallDevice .mobile-info p {
      margin: 5px;
      line-height: 1.5; }
      body.smallDevice .mobile-info p a {
        color: white;
        text-decoration: underline;
        line-height: 2; }
    body.smallDevice .mobile-info h2 {
      font-family: "Archivo Black", sans-serif;
      font-weight: 400;
      font-size: 2.2em;
      display: block;
      background: rgba(247, 210, 0, 0.7);
      color: black;
      padding: 2px 11px 2px;
      letter-spacing: -1px;
      border-radius: 0px 10px 0px 10px;
      border: 2px solid #333;
      transform: scale(1, 1.03);
      box-shadow: 4px 4px 0 #111;
      width: 165px;
      white-space: nowrap; }

.particletext {
  position: relative; }
  .particletext.confetti > .particle {
    opacity: 0;
    position: absolute;
    top: 100px;
    animation: confetti 2s ease-in;
    border-radius: 0 1px 0 1px; }
    .particletext.confetti > .particle.c1 {
      background-color: rgba(255, 235, 59, 0.8); }
    .particletext.confetti > .particle.c2 {
      background-color: rgba(23, 184, 225, 0.8); }
    .particletext.confetti > .particle.c3 {
      background-color: rgba(247, 140, 233, 0.8); }
    .particletext.confetti > .particle.c4 {
      background-color: rgba(99, 236, 77, 0.77); }
    .particletext.confetti > .particle.c5 {
      background-color: rgba(255, 164, 20, 0.77); }

@keyframes confetti {
  0% {
    opacity: 0;
    transform: translateY(0%) rotate(0deg) scale(0.8, 0.8); }
  15% {
    opacity: 0.4; }
  25% {
    transform: translateY(-400%) rotate(270deg) scale(2, 2);
    opacity: 0.7; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(1500%) rotate(720deg) scale(4, 4); } }
.buttons.addNew {
  display: flex;
  justify-content: center;
  position: relative; }
  .buttons.addNew #stickToggle {
    text-align: center;
    color: #fff;
    line-height: 1;
    margin: 0;
    z-index: 10;
    position: absolute;
    bottom: -12px;
    left: 45px;
    transition: 0.2s; }
    .buttons.addNew #stickToggle:after {
      content: " :on"; }
    .buttons.addNew #stickToggle:hover {
      cursor: pointer;
      color: #222; }
    .buttons.addNew #stickToggle.addAnimetion {
      text-decoration: line-through;
      color: #555; }
      .buttons.addNew #stickToggle.addAnimetion:after {
        content: ":off"; }

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(-45deg, rgba(229, 93, 135, 0.7), rgba(95, 195, 228, 0.7)), url("../img/skull.jpg") center center/cover no-repeat; }

.navArea {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 20px 10px 90px;
  background-color: rgba(247, 221, 0, 0.7);
  border-radius: 0 20px 0 20px;
  box-shadow: 2px 2px 2px #222; }
  @media only screen and (max-width: 960px) {
    .navArea {
      padding: 10px; } }
  @media (min-width: 961px) and (max-width: 1160px) {
    .navArea {
      padding-left: 170px; } }
  .navArea select {
    margin: 10px;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 0 10px 0 10px;
    transition: 0.2s; }
    .navArea select:hover {
      color: #222;
      border-color: #333;
      background-color: rgba(255, 255, 255, 0.24); }
  .navArea .button {
    margin: 10px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 0 10px 0 10px;
    font-size: 1em;
    color: #fff;
    border: 0.1rem solid #fff;
    font-weight: 400;
    transition: 0.2s; }
    .navArea .button:hover, .navArea .button:focus, .navArea .button:active {
      color: #222;
      border-color: #333;
      background-color: rgba(255, 255, 255, 0.24); }
  .navArea .button, .navArea input[type='button'] {
    background-color: rgba(200, 200, 200, 0.5);
    border: 0.1rem solid #9b4dca;
    border-radius: 0.4rem;
    color: #222;
    border: 1px solid #fff; }
    .navArea .button#del, .navArea .button#clear, .navArea input[type='button']#del, .navArea input[type='button']#clear {
      color: white; }
  .navArea .buttons {
    display: flex;
    flex-direction: column;
    color: #fff; }
    .navArea .buttons .att {
      font-size: 0.8em;
      text-align: center;
      color: white;
      margin: -5px 0 0 0;
      line-height: 1.2; }
  .navArea button#new {
    width: 110px;
    border: 2px solid;
    box-sizing: content-box;
    border-radius: 0 15px 0 15px;
    box-shadow: 2px 2px 0 #333; }
    .navArea button#new:hover {
      color: #222;
      border-color: #333;
      background-color: rgba(255, 255, 255, 0.24); }

h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-size: 2.2em;
  display: block;
  background: rgba(247, 210, 0, 0.7);
  position: absolute;
  left: 25px;
  top: 25px;
  color: black;
  padding: 2px 11px 2px;
  letter-spacing: -1px;
  border-radius: 0px 10px 0px 10px;
  border: 2px solid #333;
  transform: scale(1, 1.03);
  box-shadow: 4px 4px 0 #111; }
  @media only screen and (max-width: 960px) {
    h1 {
      top: 90%;
      opacity: 0.7; } }
  h1 .h-p {
    transform: scale(1.22, 1.1);
    display: inline-block;
    letter-spacing: 0px; }
  h1 .h-i {
    transform: scale(1, 0.95);
    display: inline-block;
    letter-spacing: -2px; }

.selectArea {
  position: relative;
  transition: 0.2s; }
  .selectArea > svg {
    position: absolute;
    right: 10px;
    top: 22px; }

.sticky {
  position: absolute;
  cursor: pointer;
  opacity: 0.8;
  border: 1px solid #aaa; }

textarea {
  width: 100%;
  height: 100%; }

.selected {
  font-size: 18px;
  font-weight: 400;
  overflow-y: scroll;
  width: 280px;
  height: auto;
  min-height: 50px;
  max-height: 200px;
  padding: 5px 10px;
  padding: 5px 10px;
  transition: 0.75s;
  white-space: pre-wrap;
  color: #234;
  border: 2px solid darkorange;
  border: 2px solid #fff;
  border-radius: 0 15px 0 15px;
  box-shadow: 2px 2px 4px #444; }

.sticky {
  font-size: 18px;
  font-weight: 400;
  overflow-y: scroll;
  width: 280px;
  height: auto;
  min-height: 50px;
  max-height: 200px;
  padding: 5px 10px;
  padding: 5px 10px;
  transition: 0.75s;
  white-space: pre-wrap;
  color: #234;
  border: 2px solid #fff;
  border-radius: 0 15px 0 15px;
  box-shadow: 2px 2px 4px #444; }

.selected:hover,
.sticky:hover {
  opacity: 0.95;
  border-width: 3px;
  box-shadow: 4px 4px 6px #333; }

.selected textarea,
.sticky textarea {
  font-size: 18px;
  font-weight: 400;
  overflow: hidden;
  overflow-y: scroll;
  width: 280px;
  max-width: 250px;
  height: auto;
  min-height: 50px;
  max-height: 200px;
  padding: 5px 10px;
  padding: 5px 10px;
  color: #234;
  border: none; }

select {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  padding-right: 3rem;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  background-size: contain; }

.sticky.ui-draggable.selected {
  box-sizing: content-box;
  border-width: 8px;
  border-color: rgba(255, 255, 255, 0.89); }

textarea.makeText {
  height: 95%; }

.sticky.ui-draggable.selected:hover, .sticky.ui-draggable:hover {
  box-shadow: 4px 4px 8px #333; }

.count {
  align-self: flex-start; }
  .count .nums {
    font-size: 0.8em;
    margin-left: 9px; }
  .count .view {
    color: #000;
    display: inline-block;
    margin-left: 15px;
    opacity: 0.7;
    font-weight: 400;
    border: 1px solid #000;
    font-size: 1.25em;
    width: 1.8em;
    height: 1.8em;
    border-radius: 0 8px 0 8px;
    display: flex;
    align-items: center;
    justify-content: center; }

/*# sourceMappingURL=style.css.map */
